p{
font-family: Franklin Gothic Book;
  font-color: lightblue;
  font-size: 26px;
}

  ul{
font-famliy: Amasis MT Pro;
  font-color: blue;
  font-size: 20px;
}

    ol{
    font-famliy: Amasis MT Pro;
  font-color: blue;
  font-size: 20px;
    }

    h1{
    font-family: Franklin Gothic Book;
      font-size: 30px;
    font-weight: bold;
      font-color: light purple;
    }

header{
  font-family: Franklin Gothic Book;
    font-size: 30px;
  font-weight: bold;
  font-color: purple;
}

body{
  font-family: Franklin Gothic Book;
    font-size: 26px;
  font-color: lightblue;
}

footer{
  font-family: Franklin Gothic Book;
  font-color: blue;
}
